<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Nhập tên sinh viên"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Tìm kiếm
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h4>Danh sách sinh viên</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let tutorial of sinhViens; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveSinhVien(tutorial, i)"
      >
        {{ tutorial.hoTen }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllSinhVien()">
      Xóa tất cả
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="sinhVienHienTai">
      <h4>Chi tiết sinh viên</h4>
      <div>
        <label><strong>Họ tên:</strong></label> {{ sinhVienHienTai.hoTen }}
      </div>
      <div>
        <label><strong>Mã sinh viên:</strong></label>
        {{ sinhVienHienTai.maSinhVien }}
      </div>
      <div>
        <label><strong>Số CMT:</strong></label>
        {{ sinhVienHienTai.soCMT }}
      </div>
      <div>
        <label><strong>Ngày sinh:</strong></label>
        {{ sinhVienHienTai.ngaySinh }}
      </div>
      <div>
        <label><strong>Lớp:</strong></label>
        {{ sinhVienHienTai.lop }}
      </div>
      <div>
        <label><strong>Quê quán:</strong></label>
        {{ sinhVienHienTai.queQuan }}
      </div>

      <button class="badge badge-warning" routerLink="/tutorials/{{ sinhVienHienTai.maSinhVien }}">
        Chỉnh sửa thông tin
      </button>
    </div>

    <div *ngIf="!sinhVienHienTai">
      <br />
      <p>Hãy chọn sinh viên để xem chi tiết</p>
    </div>
  </div>
</div>
