<div style="width: 400px; margin: auto;">
  <div *ngIf="currentSinhVien" class="edit-form">
    <h4>Chi tiết sinh viên</h4>
    <form>
      <div class="form-group">
        <label for="hoTen">Họ tên</label>
        <input
          type="text"
          class="form-control"
          id="hoTen"
          [(ngModel)]="currentSinhVien.hoTen"
          name="hoTen"
        />
      </div>

      <div class="form-group">
        <label for="maSinhVien">Mã sinh viên</label>
        <input
          type="text"
          class="form-control"
          id="maSinhVien"
          [(ngModel)]="currentSinhVien.maSinhVien"
          name="maSinhVien"
        />
      </div>

      <div class="form-group">
        <label for="soCMT">Số CMT</label>
        <input
          type="text"
          class="form-control"
          id="soCMT"
          [(ngModel)]="currentSinhVien.soCMT"
          name="soCMT"
        />
      </div>

      <div class="form-group">
        <label for="ngaySinh">Ngày sinh</label>
        <input
          type="text"
          class="form-control"
          id="ngaySinh"
          [(ngModel)]="currentSinhVien.ngaySinh"
          name="ngaySinh"
        />
      </div>

      <div class="form-group">
        <label for="queQuan">Quê quán</label>
        <input
          type="text"
          class="form-control"
          id="queQuan"
          [(ngModel)]="currentSinhVien.queQuan"
          name="queQuan"
        />
      </div>

    </form>

    <button class="badge badge-danger mr-2" (click)="deleteSinhVien()">
      Xóa thông tin
    </button>

    <button
      type="submit"
      class="badge badge-success"
      (click)="updateSinhVien()"
    >
      Cập nhật thông tin
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentSinhVien">
    <br/>
    <p>Không thể truy cập được vào sinh viên này...</p>
  </div>
</div>
