<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Quản lý ký túc xá</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="sinhviens" class="nav-link">Danh sách sinh viên</a>
      </li>
      <li class="nav-item">
        <a routerLink="addsinhvien" class="nav-link">Thêm mới sinh viên</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
