<div style="width: 400px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="hoTen">Họ tên</label>
        <input
          type="text"
          class="form-control"
          id="hoTen"
          required
          [(ngModel)]="sinhVien.hoTen"
          name="hoTen"
        />
      </div>

      <div class="form-group">
        <label for="maSinhVien">Mã sinh viên</label>
        <input
          class="form-control"
          id="maSinhVien"
          required
          [(ngModel)]="sinhVien.maSinhVien"
          name="maSinhVien"
        />
      </div>


      <div class="form-group">
        <label for="soCMT">Số CMT</label>
        <input
          class="form-control"
          id="soCMT"
          required
          [(ngModel)]="sinhVien.soCMT"
          name="soCMT"
        />
      </div>


      <div class="form-group">
        <label for="ngaySinh">Ngày sinh</label>
        <input
          class="form-control"
          id="ngaySinh"
          required
          [(ngModel)]="sinhVien.ngaySinh"
          name="ngaySinh"
        />
      </div>


      <div class="form-group">
        <label for="lop">Lớp</label>
        <input
          class="form-control"
          id="lop"
          required
          [(ngModel)]="sinhVien.lop"
          name="lop"
        />
      </div>


      <div class="form-group">
        <label for="queQuan">Quê quán</label>
        <input
          class="form-control"
          id="queQuan"
          required
          [(ngModel)]="sinhVien.queQuan"
          name="queQuan"
        />
      </div>

      <button (click)="saveTutorial()" class="btn btn-success">Lưu thông tin</button>
    </div>

    <div *ngIf="submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="newTutorial()">Thêm mới sinh viên</button>
    </div>
  </div>
</div>
